$statColors: (
  1: #7ac74c,
  2: #ff5959,
  3: #0d4879,
  4: #228091,
  5: #c74cc7,
  6: #acc74c,
);

$cardBackgroundGradient: (
  1: (
    #3ea367,
    #7ac74c,
  ),
  2: (
    #ffcd59,
    #c73900,
  ),
  3: (
    #59efff,
    #000fc7,
  ),
  4: (
    #59ff86,
    #0090c7,
  ),
);

$typeColors: (
  1: #3ea367,
  2: #ffcd59,
  3: #59efff,
  4: #59ff86,
);
