@import "../../style/utils/mixins";
@import "../../style/utils/color-palele";

.App-main__container-card {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  max-width: 450px;
  margin: 0 auto;

  background-color: red;
  &--link {
    @include every3rdElementGradient($cardBackgroundGradient);
  }

  &--wrapper {
    position: relative;
    // width: 100%;
    margin-bottom: 7rem;
  }

  &--body {
    padding: 140px 10px 12px 10px;
    position: relative;
  }

  &-imgbox {
    background-color: #fff;
    border-radius: 200px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-img {
    max-width: 200px;
    filter: drop-shadow(4px 8px 3px rgba(0, 0, 0, 0.7));
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #fff;
  }

  &-id {
    color: #000;
    border-radius: 100px;
    border: 2px solid #fff;
    padding: 3px 15px;
    font-size: 1.2rem;
  }

  &-id {
    background-color: #fff;
  }

  &-name {
    text-transform: capitalize;
    font-size: 2rem;
  }

  &-type {
    & span {
      @include every3rdElement($typeColors);
      color: #000;
      border-radius: 100px;
      border: 2px solid #fff;
      padding: 3px 15px;
      font-size: 1.2rem;
      // background-color: #fff;
      &:last-child {
        margin-left: 10px;
      }
    }
  }

  &-stats {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    color: #000;
    gap: 10px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;

    & div {
      text-transform: uppercase;
      text-align: center;
      font-size: 1rem;
      font-weight: 700;

      @each $key, $color in $statColors {
        &:nth-child(#{$key}) {
          color: $color;
        }
      }
    }
  }
}
