.App-sort {
  display: flex;
  position: relative;

  &__options {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: calc(160px / 2);

    & li {
      display: flex;
      gap: 10px;
    }

    &.hide {
      display: none;
    }
  }
}
